.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about .row .image{
  flex: 1 1 45rem;
}
.about .row .image .img{
    width: 50%;
  }
.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p{
    color: var(--light -color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}
.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;

}
.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;

}
.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}
.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}