
    
    .footer .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2543m, 1fr));
        gap:1.5rem;
    }
    
    .footer .box-container .box h3{
        padding: 5rem 0;
        font-size: 2.5rem;
        color:var(--black);
    }
    
    
    .footer .box-container .box a{
        display: block;
        padding: 5rem 0;
        font-size: 2.5rem;
        color:var(--light-color);
    }
    
    .footer .box-container .box a:hover{
        color:var(--green);
        text-decoration:underline;
    }
    
    .footer .credit{
        text-align: center;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        font-size: 2rem;
        color:var(--black);
        padding:.5rem;
        padding-top: 1.5rem;
        margin-top: 1.5rem;
    }
    
    .footer .credit span{
        color:var(--green);
    }
    
    .loader-container{
        position: fixed;
        top:0; left:0;
        height: 100%;;
        width:100%;
        z-index:10000;
        background:#fff;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .loader-container img{
        width:35rem;
        
    }