
section{
    padding:9rem 9%;
    text-align:center;
    position: relative;
    padding:2rem 9%;

}
section:nth-child(even){
    background: #fff;

}
.btn{
    margin-top:1rem;
    display:inline-block;
    font-size: 1.7rem;
    color:#fff;
    background:var(--black) ;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;


}

.btn:hover{
    background:white;
    letter-spacing: .1rem;

}

.home .home-slider .slide{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
    

}
.home .home-slider .slide .content{
    flex: 1 1 45rem;

}
/*Ndryshim*/
.home .home-slider .slide .image{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image img{
   width:100%;
    
}

.home .home-slider .slide .content h3{
    color:rgba(0, 0, 0, 0.491);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 20rem;
    padding: .5rem 0;
    line-height: 1.5;

}

swiper-pagination-bullet-active{
    background:var(--green);
}

.home .home-slider .slide .content h3{
    font-size: 5rem;
}



.swiper-slide .slide{
    position: relative;
    text-align: center;
    color:#8fb977;
}

.content{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%)
}
