.review.slide{
padding:2rem;
box-shadow:var(--box-shadow);
border:.1rem solid rgba(0,0,0,.2);
border-radius:.5rem;
position:relative;

}

.review .slide .fa-quote-right{
position:absolute;
top:2rem,right:2rem;
font-size:6rem ;
color:#ccc.;
}

.review.slide.user{
display:flex;
gap:1.5rem;
align-items:center;
padding-bottom:1.5rem;
}

.review.slide.user img{
height:7rem;
width:7rem;
border-radius: 50%;
object-fit:cover;
}

.review.slide.user h3{
color:var(--black);
font-size:2rem;
padding-bottom: .5rem;
}

.review.slide.user i{
font-size:1.3 rem;
color:var(--green);
}

.revew.slide p{
font-size:1.5 rem;
line-height:1.8;
color:var(--light-color);

}












































.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2543m, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding: 5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}


.footer .box-container .box a{
    display: block;
    padding: 5rem 0;
    font-size: 2.5rem;
    color:var(--light-color);
}

.footer .box-container .box a:hover{
    color:var(--green);
    text-decoration:underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 2rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left:0;
    height: 100%;;
    width:100%;
    z-index:10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
    
}