.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
  
}
.menu .box-container .box {
    background: #fff;
    border: 1rem solid rgba(0,0,0,.2);
    border-radius: .5rem ;
   height: auto;
    
}
.menu .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;

}
.menu .box-container .box .image img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;

}
.menu .box-container .box .image .fa-heart {
    position: absolute;
    top: 1rem; right: 1rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);

}
.menu .box-container .box .image .fa-heart:hover{
   background-color: var(--green);
   color: #fff ;

}
.menu .box-container .box .content{
    
    display: inline;
    position: relative;
    top: 0rem;
    left: 3rem;
    right: 5rem;
    
}
.menu .box-container .box .content .stars{
    padding-bottom: 1rem ;
    
}
.menu .box-container .box .content .stars i{
    font-size: 1.5rem;
    color: var(--green);
}
.menu .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;

}

.menu .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height:1.5 ;

}
.menu .box-container .box .content .price {
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.1rem;
    

}