.tbl-full{
    width:100%;
}
table tr th{
    border-bottom:1px solid black;
    padding: 1%;
    text-align: left;
}
.tbl-content{
    width:80%;
    margin: auto;
    overflow: auto;
}

table tr td{
    padding:1%;
}

.update-button {
    background-color: #27ae60;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: #666;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
  }

.tbl-container {
    height: 500px; /* adjust the height as per your requirement */
    overflow: auto;
}

  