.tbl-full2{
    width:100%;
}
table tr th{
    border-bottom:1px solid black;
    padding: 1%;
    text-align: left;
}
.tbl-content2{
    width:80%;
    bottom:55%;
    left:10%;
    right:30%;
    position:absolute;
}

table tr td{
    padding:1%;
}
.update-button {
    background-color:#CBD18F;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: #3A6B35;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
  }